.main-product-page-div {
  margin-top: 70px !important;
}

.add-fav-btns {
  margin-bottom: 2em;
}
.add-cart-product-btn {
  color: white;
}

.image-box {
  width: 500px;
  border-radius: 50px;
  transition: 1s;
  height: 500px;
}

.image-box:hover {
  width: 540px;
  height: 560px;
  transition: all 2s;
}

.reviews-table {
  margin-top: 17em;
}
