.main-product-page-div {
  margin-top: 70px !important;
}

.image-box {
  width: 500px;
  border-radius: 50px;
  transition: 1s;
}

.image-box:hover {
  width: 540px;
  transition: all 2s;
}

.reviews-table {
  margin-top: 17em;
}
