.about-us-box {
  margin-top: 2.5em;
}

.about-us-title {
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2.8em;
  color: rgb(227, 32, 198);
  text-shadow: -2px 2px rgb(115, 115, 115);
  margin-bottom: 1.5em;
}

.about-us-content-box {
  padding: 40px;
  border-radius: 40px;
  box-shadow: 17px 17px 15px black;
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}
.story-title {
  border-bottom: 2px solid rgb(227, 32, 198);
  margin-bottom: 1.1em;
  font-weight: bold;
  font-size: 2.21em;
  color: rgb(227, 32, 198);
  text-shadow: 3px 3px 1px black;
}
.about-our-us {
  transition: all 1.5s;
}

.store-map {
  margin-left: 3em;
  border-radius: 50px;
}

.p-story-content {
  font-size: 1.21em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 800;
  color: rgb(61, 141, 184);
}

.store-map-box {
  margin-top: 2em !important;
}

@media only screen and (max-width: 1200px) {
  .store-map {
    width: 345px;
    margin-left: 0;
  }

  .about-us-title {
    font-size: 2.1em;
  }
  .story-title {
    font-size: 2em;
  }
  .p-story-content {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 766px) {
  .store-map {
    width: 400px;
    margin-left: 0;
  }
}
