.about-us-box {
  margin-top: 5em;
}

.about-us-title {
  font-weight: bold;
  margin-bottom: 2em;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-shadow: 5px 2px 5px rgb(88, 88, 88);
  background: -webkit-linear-gradient(#41d148, #c05757, #4848ff, #fa95f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.story-title {
  border-bottom: 2px solid rgb(227, 32, 198);
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin-bottom: 1.1em;
  font-weight: bold;
  text-shadow: 3px 2px 3px rgb(88, 88, 88);
  background: -webkit-linear-gradient(rgb(67, 162, 245), #f769eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-our-us {
  transition: all 1.5s;
}

.store-map {
  margin-left: 3em;
  border-radius: 50px;
  box-shadow: black 3px 4px;
}

.p-story-content {
  font-size: 1.4em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 800;
  color: rgb(37, 133, 185);
}

.store-map-box {
  margin-top: 2em !important;
}

@media only screen and (max-width: 1200px) {
  .store-map {
    width: 345px;
    margin-left: 0;
  }

  .about-us-title {
    font-size: 2.1em;
  }
  .story-title {
    font-size: 2em;
  }
  .p-story-content {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 766px) {
  .store-map {
    width: 400px;
    margin-left: 0;
  }
}

@media only screen and (max-width: 420px) {
  .store-map {
    width: 270px;
  }
}
