.header-nav {
  background: rgb(150, 252, 149);
  background: linear-gradient(
    162deg,
    rgba(150, 252, 149, 1) 0%,
    rgba(162, 249, 254, 1) 25%,
    rgba(145, 211, 255, 1) 50%,
    rgba(160, 247, 215, 1) 75%,
    rgba(191, 250, 163, 1) 100%
  );

  /*   background: rgb(146, 47, 181);
  background: linear-gradient(
    183deg,
    rgba(146, 47, 181, 1) 0%,
    rgba(204, 124, 218, 1) 42%,
    rgba(197, 79, 210, 1) 100%
  ); */

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  color: black;
}
.navbar .nav-item .nav-link {
  text-align: center;
  margin: 20px 5px 0px;
}

.home-logo {
  width: 6em;
  height: 4.5em;
  margin-right: 10px;
  border-radius: 25px;
}
.nav-link:hover {
  background-color: rgb(253, 249, 249);
  border-radius: 10px;
}

@media (max-width: 990px) {
  .home-logo {
    display: none;
  }
}

@media (min-width: 990px) {
  .header-nav {
    display: flex !important;
    justify-content: center !important;
  }
}
