.reviews-cards-box {
  /*   background: rgb(231, 175, 71);
  background: linear-gradient(
    292deg,
    rgba(231, 175, 71, 1) 0%,
    rgba(254, 186, 59, 1) 100%
  ); */
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);

  padding: 15px;
  width: 100%;
  height: 34em;
}
.review-card {
  width: 100% !important;
}
.swiper-review {
  height: 30em;
}
.image-review {
  width: 12em !important;
  height: 9em !important;
  border-radius: 80px;
  margin-top: 3em;
  margin-bottom: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 10px 10px black;
}

.review-body {
  background-color: #eeefdb;
  width: 45em;
  padding: 15px;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-shadow: 10px 10px 10px black;
}
.review-user-name {
  font-size: 2.2em;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  color: #d519ff;
  text-shadow: 3px 1px 2px rgb(92, 92, 92);
}

.review-p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
}

.back-tik-review {
  font-size: 2em;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 5px;
  color: rgb(146, 29, 255);
  margin: 1.3px;
}
