.home-page-main {
}

.home-page-search-input {
  width: 90%;
}

.product-search-image {
  height: 4.5em;
}

.search-result {
  width: 90%;
  border: 2.5px solid black;
  border-radius: 5px;
  background: #eeeeee;
}
.product-search-box {
  border-bottom: 1px solid black;
}

.span-product {
  margin-left: 5em;
}

.link-search-product {
  font-size: 1.2em;
  text-decoration: none;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  color: aqua;
}

.link-search-product:hover {
  color: aqua;
}

.my-swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}
